body {
	color:#fff;
	background-color:#000;
	font-size:30px;
}

.bigBox{
    border: 5px solid rgb(175, 174, 174);
    border-radius: 5px;
}

.playerBlob{
    font-size:20px;
    border: 3px solid rgb(175, 174, 174);
    border-radius: 3px;
    width: 25%;
    margin: 1%;
    padding: 1%;
    background-color: rgb(175, 174, 174);
}

#rightHolder{
    float: right;
    margin: 1%;
    border: 1px solid rgb(247, 6, 6);
}

#leftHolder{
    float: left;
    margin: 1%;
    border: 1px solid rgb(47, 0, 255);
}